.header{
  display: flex;
  width: 100%;
  height: 80px;

  justify-content: space-around;
}
.africa {
  width: 120px; 
  margin-left: 20px;
}
.navs {
  width: 450px;
  display: flex;
  
  justify-content: space-around;
  align-items: center;
}
.b1 {
  border-color: orangered;
  background-color: transparent;
  font-size: 12px;
  height: 45px;
  width: 150px;
  
}